body {
    margin: 0;
    background-color: #52489c;
     margin-left: 50px;
     position: relative;
}
h1, h2, p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-size: 24px;
   
   
}
h1  {
    margin-top: 50px;
    color: white;
    font-weight: bold;   
}
h2 {
    color: #59c3c3;
    font-weight: bold;   
}
p {
    font-size: 15px;
}
#button-el {
    width: 150px;
    height: 30px; 
    font-size: 12px;
    margin: 10px 0 10px 0; 
    background-color: #f45b69;
    border-radius: 5px;
    border: none;
    box-shadow: 3px 3px 5px 0px;
}
input {
    border: 1px solid black;
    opacity: 0.2;
    margin-top: 10px;
    height: 30px;
    width: 250px;
    border-radius: 5px;
    
}
.suggestionBox1 {
  border: 1px solid black;
  width: 150px;
  height: 25px; 
  display: inline-block; 
  margin: 10px 0px;
  background: #59c3c3;
  border-radius: 5px;
  border: none;
  box-shadow: 3px 3px 5px 0px;
  
  padding: 3px;
  
}
.suggestionBox2 {
  border: 1px solid black;
  width: 150px;
  height: 25px; 
  display: inline-block;
  margin: 10px 10px;
  background: #59c3c3;
  border-radius: 5px;
  border: none;
  box-shadow: 3px 3px 5px 0px;
  padding: 3px;
  
}

